* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Roboto Mono', verdana, monospace;
  font-size: 0.95rem;
  color: var(--clr-text);
}

:root {
  --profile-img--small: 3rem;
  --image-large: 20rem;
  --clr-neutral-dark: rgb(60, 60, 60);
  --clr-primary: #25a12d;
  --clr-primary: #116617;
  --clr-light: #fdffee;
  --clr-bg: #b1ebae;
  --clr-text: #090b09;
  --clr-neutral-light: #eaeadd;
  --border-size: 1.5px;
  --clr-alert: rgb(212, 0, 0);
  --border-radius-small: 0.3rem;
  --border-radius-big: 0.75rem;
  --listing-thumbnail-size: 11rem;
  --label-width: 20ch;
}

/* */

.bg {
  background: linear-gradient(
    180deg,
    var(--clr-bg) 0%,
    var(--clr-light) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

.page-content {
  position: absolute;
  padding-top: 0;
  margin-top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(95%, 700px);
}

.login-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.login-page-content > * {
  width: min(95%, 700px);
}

/* login and registration box */

.login-content {
  border: var(--border-size) solid var(--clr-light);
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

.login-content form {
  display: grid;
  gap: 2rem;
}

.login-content label {
  text-align: left;
}

.login-extra-links {
  text-align: center;
}

.login-content h2 {
  padding-bottom: 0;
}

.login-extra-links {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-grid {
  display: grid;
  grid-template-columns: var(--label-width) auto;
  max-width: fit-content;
  gap: 1rem;
  align-items: center;
}

.form-grid.label-top {
  align-items: normal;
}

form input[type='text'],
form input[type='password'],
form textarea {
  width: 30ch;
}

.page-content input[type='text'],
.page-content input[type='password'],
.page-content textarea {
  border: 1px solid var(--clr-neutral-dark);
}

.content {
  background-color: var(--clr-light);
  padding: 1.5rem;
  border-radius: var(--border-radius-big);
  margin-bottom: 0;
  min-height: 100vh;
}

.form-bottom-text-space,
.blank {
  display: inline-block;
  min-height: 1.5em;
}

input[type='text'],
input[type='password'],
textarea {
  background-color: var(--clr-light);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--clr-text);
}

.button {
  background-color: var(--clr-primary);
  color: var(--clr-light);
  border: var(--border-size) solid var(--clr-primary);
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  background-color: transparent;
  color: var(--clr-primary);
  border: var(--border-size) solid var(--clr-primary);
  cursor: pointer;
}

.button-secondary {
  background-color: transparent;
  color: var(--clr-primary);
  border: var(--border-size) solid var(--clr-primary);
}

.button-secondary:hover {
  background-color: var(--clr-primary);
  color: var(--clr-light);
  border: var(--border-size) solid var(--clr-primary);
}

/* */

.header {
  text-align: center;
  padding: 2rem;
}

h1 a {
  font-size: 2.5rem;
  color: var(--clr-primary);
  padding-bottom: 1rem;
  text-decoration: none;
}

h2 {
  font-size: 1.5em;
  color: var(--clr-primary);
}

h3 {
  font-size: 1.25em;
  color: var(--clr-primary);
}

.page-content header {
  border-left: 5px solid var(--clr-primary);
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  display: grid;
  align-items: center;
}

a,
a:visited {
  color: var(--clr-primary);
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

p:not(nav p) {
  margin-bottom: 1em;
}

label,
.form-label,
.subheading {
  font-weight: bold;
  color: var(--clr-primary);
}

.nav {
  min-height: 5rem;
}

.nav ul {
  /* border-bottom: var(--border-size) solid var(--clr-primary); */
  box-shadow: 0 0 0.75rem 0 rgba(9, 11, 9, 0.15);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem;
}

.nav ul div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav ul li {
  display: inline-block;
}

.listing-image {
  max-width: var(--image-large);
  border-radius: 0.5em;
}

.profile-image-large {
  object-fit: cover;
  width: var(--image-large);
  height: var(--image-large);
  border-radius: 100%;
  margin: 0 auto;
}

.profile-image-small {
  object-fit: cover;
  width: var(--profile-img--small);
  height: var(--profile-img--small);
  border-radius: 100%;
}

.listing-thumbnail {
  max-height: var(--listing-thumbnail-size);
  max-width: var(--listing-thumbnail-size);
  border-radius: var(--border-radius-small);
}

.comment-list {
  list-style-type: none;
  padding-left: 0;
}

.comment-list li:not(:last-child) {
  margin-bottom: 1em;
}

.comment {
  padding: 1rem;
  background-color: var(--clr-neutral-light);
  border-radius: 0.5rem;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.comment-header p:only-child {
  margin-bottom: 0;
}

.comment-header p:not(:only-child) {
  margin-bottom: 0.5em;
}

.comment-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.username-image-box {
  display: flex;
  gap: 0.5rem;
  flex-wrap: nowrap;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
}

.username-image-box p:first-child {
  margin-bottom: 0.25rem;
}

.username-image-box p:last-child {
  margin-bottom: 0;
}

.flash {
  color: var(--clr-alert);
  background-color: var(--clr-light);
  margin-bottom: 1rem;
  border-radius: var(--border-radius-big);
  padding: 1rem;
  text-align: center;
}

.flash p {
  margin: 0;
}

.button-bar {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  max-width: fit-content;
  gap: 1em;
  align-items: center;
}

.image-form {
  display: grid;
  gap: 1rem;
}

.button-bar .button {
  width: 100%;
}

.button-bar-vertical {
  display: grid;
  grid-template-columns: 1fr;
  max-width: fit-content;
  gap: 0.5rem;
}

.button-bar-vertical > * > * {
  flex-grow: 1;
  width: 100%;
}

.no-profile-image {
  width: var(--profile-img--small);
  height: var(--profile-img--small);
  border-radius: 100%;
  background-color: lightgrey;
}

.text-small {
  font-size: 0.92em;
  color: var(--clr-neutral-dark);
}

.text-small.hint {
  margin: 0.25em 0;
}

.text-no-results {
  color: var(--clr-neutral-dark);
  font-style: italic;
}

.item-info {
  display: grid;
  grid-template-columns: var(--image-large) 1fr;
  gap: 1rem;
}

.item-info > *:first-child {
  display: grid;
  gap: 1rem;
  justify-content: center;
}

section:not(:last-child) {
  margin-bottom: 3rem;
}

section > *:not(:last-child) {
  margin-bottom: 2rem;
}

section.subsection:not(:last-child) {
  margin-bottom: 2rem;
}

.comment > *:not(:last-child) {
  margin-bottom: 1rem;
}

.list-item {
  background-color: var(--clr-neutral-light);
  display: grid;
  grid-template-columns: var(--listing-thumbnail-size) 1fr;
  gap: 1rem;
  padding: 1rem;
  border-radius: var(--border-radius-small);
}

.list-item:not(:last-child) {
  margin-bottom: 1rem;
}

.listing-thumbnail-container {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: var(--listing-thumbnail-size);
}

.text-box {
  background-color: var(--clr-neutral-light);
  border-radius: var(--border-radius-small);
  padding: 1rem;
}
