{% extends "layout.html" %} {% block title %}Lisää kuva{% endblock %}
{% block content %}

<p>{{ listing.name }}</p>

{% if listing.cutting == 1 %}
<p>Pistokas</p>
{% endif %} {% if listing.info %}
<p style="border: 1px solid blue">{{ listing.info }}</p>
{% endif %}

<h2>Lisää kuva</h2>

<p>Lähetä jpg-tiedosto, jonka koko on enintään 200 kt</p>

<form
  action="/add_listing_image/{{ listing.id }}"
  method="post"
  enctype="multipart/form-data"
>
  <p>
    <label for="image">Kuva:</label>
    <input type="file" id="image" name="image" accept=".jpg" />
  </p>
  <input type="submit" value="Lähetä" />
</form>

<p><a href="/listing/{{ listing.id }}">Ohita</a></p>

{% endblock %}
