{% extends "layout.html" %} {% block title %}Muokkaa kommenttia{%
endblock %} {% block content %}

<h2>Muokkaa kommenttia</h2>

<form action="/edit/comment/{{ comment.id }}" method="post">
  <div>
    {% if comment.user_has_image %}
    <img
      src="/image/user/{{ comment.user_id }}"
      class="profile-image-small"
    />
    {% else %}
    <div>ei kuvaa</div>
    {% endif %}
    <p>{{ comment.username }}</p>
  </div>
  <textarea
    name="content"
    rows="5"
    cols="50"
    maxlength="{{ restrictions.max_content }}"
  >
{{ filled.content }}</textarea
  >
  <p>pituus korkeintaan {{ restrictions.max_content }} merkkiä</p>
  <input type="hidden" name="comment_id" value="{{ comment.id }}" />

  <!-- <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" /> -->
  <input type="submit" value="Tallenna" />
</form>

{% endblock %}
