{% extends "layout.html" %} {% block title %}PlantSwap{% endblock%} {%
block content %}
<section>
  <h2>Ilmoitukset</h2>
  {% if listings and not session.username %}
  <p>
    <a href="/login">Kirjaudu sisään</a> lisätäksesi ilmoituksia ja
    kommentteja.
  </p>
  {% endif %} {% if listings %}
  <p class="text-small">
    Näytetään {{ first_listing }}-{{ last_listing }}/{{ total_count }}
  </p>
  <ul>
    {% for listing in listings %}
    <li class="list-item">
      <div class="listing-thumbnail-container">
        {% if listing.has_image %}
        <img
          class="listing-thumbnail"
          src="/image/listing/{{ listing.listing_id }}"
        />
        {% else %}
        <p class="text-small">Ei kuvaa</p>
        {% endif %}
      </div>
      <div class="list-item-info">
        <p>
          <a
            class="subheading"
            href="/listing/{{ listing.listing_id }}"
            >{{ listing.name }}</a
          >
        </p>
        <p>
          Käyttäjältä
          <a href="/user/{{ listing.user_id }}"
            >{{ listing.username }}</a
          >
        </p>
        <p>📍 {{ listing.city }}</p>
        <!-- 
        <p class="class-icon">
          {% if listing["Valon tarve"] == "Vähäinen" %} ☼ {% elif
          listing["Valon tarve"] == "Keskitaso" %} ☼ ☼ {% elif
          listing["Valon tarve"] == "Runsas" %} ☼ ☼ ☼ {% endif %}
        </p>
        <p class="class-icon">
          {% if listing["Tyyppi"] == "Pistokas" %} 🌱 {% endif %}
        </p>
        -->
        <div class="list-item-footer">
          <p>Ilmoitus jätetty {{ listing.date }}</p>
          <p>💬 {{ listing.comment_count }}</p>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  <p class="page-selection">
    {% if page > 1 %}
    <a href="/{{ page - 1 }}">&lt;&lt;</a>
    {% endif %} Sivu {{ page }}/{{ page_count }} {% if page_count >
    page %}
    <a href="/{{ page + 1 }}">&gt;&gt;</a>
    {% endif %}
  </p>
  {% else %} {% if session.username %}
  <p class="text-no-results">
    Ei ilmoituksia. Lisää uusi ilmoitus
    <a href="/new_listing">tästä</a>.
  </p>
  {% else %}
  <p class="text-no-results">
    Ei ilmoituksia. <a href="/login">Kirjaudu sisään</a> tai
    <a href="/register">luo tili</a> lisätäksesi ilmoituksia ja
    kommentteja.
  </p>
  {% endif %} {% endif %}
</section>
{% endblock %}
