<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <div class="bg"></div>
    <div class="nav">
      <nav>
        <ul>
          <div>
            <li>
              <a href="/search"><button>Haku</button></a>
            </li>

            {% if session.user_id %}
            <li>
              <a href="/new_listing"
                ><button>Uusi ilmoitus</button></a
              >
            </li>
            {% endif %}
          </div>

          <div class="nav-user">
            {% if session.username %}
            <li>
              <p>
                Kirjautunut sisään nimellä
                <a href="/user/{{ session.user_id }}"
                  >{{ session.username }}</a
                >
              </p>
            </li>
            <li>
              <a href="/logout"><button>Kirjaudu ulos</button></a>
            </li>
            {% else %}
            <li>
              <a href="/login"><button>Kirjaudu sisään</button></a>
            </li>
            <li>
              <a href="/register"><button>Luo tili</button></a>
            </li>
            {% endif %}
          </div>
        </ul>
      </nav>
    </div>
    <div class="page-content">
      <div class="header">
        <h1><a href="/">PlantSwap</a></h1>
      </div>

      {% for message in get_flashed_messages() %}
      <div class="flash">
        <p>{{ message }}</p>
      </div>
      {% endfor %}

      <div class="content">{% block content %}{% endblock %}</div>
    </div>
  </body>
</html>
