<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <div class="header">
      <h1>PlantSwap</h1>
    </div>

    <div class="nav_box">
      {% if session.username %}
      <p>
        Kirjautunut sisään nimellä
        <a href="/user/{{ session.user_id }}"
          >{{ session.username }}</a
        >
      </p>
      {% else %}
      <p>et ole kirjautunut sisään</p>
      {% endif %}

      <div class="nav">
        <nav>
          <ul>
            <li><a href="/recommendations">Suositukset</a></li>
            <li><a href="/search">Haku</a></li>
            {% if session.username %}
            <li><a href="/logout">Kirjaudu ulos</a></li>
            {% else %}
            <li><a href="/login">Kirjaudu sisään</a></li>
            <li><a href="/register">Luo tili</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>

      {% if session.user_id %}
      <p>
        <a href="/new_listing">Uusi ilmoitus</a>
      </p>

      {% endif %}
    </div>

    <div class="content">{% block content %}{% endblock %}</div>
  </body>
</html>
