{% extends "layout.html" %} {% block title %}{{ listing.name }}{%
endblock %} {% block content %}

<h2>{{ listing.name }}</h2>

{% if listing.has_image %}
<img src="/image/listing/{{ listing.id }}" class="listing-image"/>
{% else %}
<div>ei kuvaa</div>
{% endif %} {% if user.id == session.user_id %}
<p>
  <a href="/add_listing_image/{{ listing.id }}">Vaihda kuva</a>
</p>
{% else %} et ole tekijä (et voi vaihtaa kuvaa) {% endif %}

<div>
  {% if user.has_image %}
<img src="/image/user/{{ user.id }}" class="profile-image-small" />
{% else %}
<div>ei kuvaa</div>
{% endif %} 
<p><a href="/user/{{ user.id }}">{{ user.username }}</a></p>
</div>

<p>Lisätty {{ listing.date }}</p>

<p>
  Katseltu {{ listing.views }} {% if listing.views == 1%} kerran {%
  else %} kertaa {% endif %}
</p>

{% if listing.cutting == 1 %}
<p>Pistokas</p>
{% endif %} {% if listing.info %}
<p>Lisätiedot</p>
<p>{{ listing.info }}</p>
{% endif %} {% if session.user_id and listing.user_id ==
session.user_id %}
<p><a href="/edit/listing/{{ listing.id }}">Muokkaa</a></p>
<p><a href="/remove/listing/{{ listing.id }}">Poista</a></p>
{% else %} et ole tekijä (et voi muokata) {% endif %}

<h3>Kommentit ({{ comments | count }})</h3>

{% if session.user_id %}
<h4>Uusi kommentti</h4>
<form action="/new_comment" method="post">
  <textarea
    name="content"
    rows="5"
    cols="50"
    maxlength="{{ restrictions.max_content }}"
    required
  ></textarea>
  <p>pituus korkeintaan {{ restrictions.max_content }} merkkiä</p>
  <input type="hidden" name="listing_id" value="{{ listing.id }}" />
  <input type="submit" value="Lähetä" />
</form>
{% else %}
<p>et ole kirjautunut sisään (et voi kommentoida)</p>
{% endif %}
<ul>
  {% for comment in comments %}
  <li>
    <div class="comment">
      
        {% if comment.user_status == 1 %}

        <div>
          {% if comment.user_has_image %}
<img src="/image/user/{{ comment.user_id }}" class="profile-image-small"/>
{% else %}
<div>ei kuvaa</div>
{% endif %} 
        <p><a href="/user/{{ comment.user_id }}"
          >{{ comment.username }}</a
        ></p>
        </div>
        
        {% else %}
        <p>Käyttäjä poistettu</p>
        {% endif %}
      </p>
      <p>Lähetetty {{ comment.sent_date }}</p>
      {% if comment.edited %}
      <p>Muokattu {{ comment.edited_date }}</p>
      {% endif %}
      <p>{{ comment.content }}</p>

      {% if comment.user_id == session.user_id %}
      <div><p><a href="/edit/comment/{{ comment.comment_id }}">Muokkaa</a></p>
        <p><a href="/remove/comment/{{ comment.comment_id }}">Poista</a></p></div>
        {% else %}
        <p>et ole kommentoija (et voi muokata)</p>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}
