<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Kirjaudu sisään</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <div class="bg"></div>
    <div class="nav"></div>
    <div class="login-page-content">
      <div class="header">
        <h1><a href="/">PlantSwap</a></h1>
      </div>
      <div>
        <div class="login-content">
          <h2>Kirjaudu sisään</h2>

          {% for message in get_flashed_messages() %}
          <div class="flash">
            <p>{{ message }}</p>
          </div>
          {% endfor %}

          <div>
            <form action="/login" method="post">
              <div class="form-grid">
                <label for="username">Käyttäjätunnus</label>
                <input
                  type="text"
                  id="username"
                  name="username"
                  value="{{ filled.username }}"
                />

                <label for="password">Salasana</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                />
              </div>
              {% if next_page %}
              <input
                type="hidden"
                name="next_page"
                value="{{ next_page }}"
              />
              {% else %}
              <input type="hidden" name="next_page" value="/" />
              {% endif %}
              <div class="login-extra-links">
                <input
                  type="submit"
                  class="button"
                  value="Kirjaudu"
                />
              </div>
            </form>
          </div>

          <div class="login-extra-links">
            <p>
              Eikö sinulla ole tiliä?
              <a href="/register">Luo tunnus</a>
            </p>

            <p><a href="/">Takaisin</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
