<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Kirjaudu sisään</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <h1><a href="/">PlantSwap</a></h1>
    <h2>Kirjaudu sisään</h2>

    {% for message in get_flashed_messages() %}
    <div class="flash">
      <p>{{ message }}</p>
    </div>
    {% endfor %}

    <form action="/login" method="post">
      <p>
        <label for="username">Käyttäjätunnus:</label><br />
        <input
          type="text"
          id="username"
          name="username"
          value="{{ filled.username }}"
        />
      </p>
      <p>
        <label for="password">Salasana</label>:<br />
        <input type="password" id="password" name="password" />
      </p>
      {% if next_page %}
      <input type="hidden" name="next_page" value="{{ next_page }}" />
      {% else %}
      <input type="hidden" name="next_page" value="/" />
      {% endif %}
      <input type="submit" value="Kirjaudu" />
    </form>

    <p>Eikö sinulla ole tiliä? <a href="/register">Luo tunnus</a></p>

    <p><a href="/">Takaisin</a></p>
  </body>
</html>
