{% extends "layout.html" %} {% block title %}Lisää ilmoitus{% endblock
%} {% block content %}
<section>
  <h2>Uusi ilmoitus</h2>

  <form action="/new_listing" method="post">
    <div class="form-grid form-grid-hint">
      <label for="name">*Nimi</label>

      <input
        type="text"
        id="name"
        name="name"
        maxlength="{{ restrictions.max_name }}"
        required
      />
      <p class="text-small">
        Korkeintaan {{ restrictions.max_name }} merkkiä
      </p>
    </div>

    {% for class in classes %} {% if class == 'Tyyppi' %}
    <p class="form-checkbox">
      <input
        type="checkbox"
        name="cutting"
        value="{{ class }}:Pistokas"
      />
      Pistokas
    </p>
    {% else %}
    <div class="form-grid">
      <label>{{ class}}</label>
      <select name="classes">
        <option value="" selected>- Valitse -</option>
        {% for option in classes[class] %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
    </div>
    {% endif %} {% endfor %}

    <div class="form-grid form-grid-hint label-top">
      <label>Lisätiedot</label>

      <textarea
        name="info"
        rows="5"
        cols="50"
        maxlength="{{ restrictions.max_info }}"
      ></textarea>
      <p class="text-small">
        Korkeintaan {{ restrictions.max_info }} merkkiä
      </p>
    </div>

    <input
      type="hidden"
      name="csrf_token"
      value="{{ session.csrf_token }}"
    />
    <p class="text-small">* pakollinen kenttä</p>
    <div class="button-bar">
      <input type="submit" class="button" value="Jatka" />
    </div>
  </form>
</section>

{% endblock %}
