{% extends "layout.html" %} {% block title %}Lisää ilmoitus{% endblock
%} {% block content %}
<header>
<h2>Lisää ilmoitus</h2></header>

<form action="/new_listing" method="post">
  <p>
    <label for="name">*Nimi</label><br />
    <input
      type="text"
      id="name"
      name="name"
      maxlength="{{ restrictions.max_name }}"
      required
    />
    <p>pituus korkeintaan {{ restrictions.max_name }} merkkiä</p>
  </p>

  <p><input type="checkbox" name="cutting" value="1" /> Pistokas</p>

  <p>
    Lisätiedot <br />
    <textarea
      name="info"
      rows="5"
      cols="50"
      maxlength="{{ restrictions.max_info }}"
    ></textarea>
    <p>pituus korkeintaan {{ restrictions.max_info }} merkkiä</p>
  </p>

  <p>* pakollinen kenttä</p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lisää" />
</form>

{% endblock %}
