<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Luo tili</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <h1><a href="/">PlantSwap</a></h1>
    <h2>Luo tili</h2>

    {% for message in get_flashed_messages() %}
    <div class="flash">
      <p>{{ message }}</p>
    </div>
    {% endfor %}

    <form action="/register" method="post">
      <p>
        <label for="username">*Käyttäjätunnus:</label><br />
        <input
          type="text"
          id="username"
          name="username"
          maxlength="{{ restrictions.max_username }}"
          value="{{ filled.username }}"
          required
        />
        <p>pituus: {{ restrictions.min_username }}-{{ restrictions.max_username }} merkkiä</p>

      </p>
      <p>
        <label for="password1">*Salasana:</label><br />
        <input
          type="password"
          id="password1"
          name="password1"
          maxlength="{{ restrictions.max_password }}"
        />
        <p>pituus: {{ restrictions.min_password }}-{{ restrictions.max_password }} merkkiä</p>
      </p>
      <p>
        <label for="password2">*Kirjoita salasana uudestaan:</label
        ><br />
        <input
          type="password"
          id="password2"
          name="password2"
          maxlength="{{ restrictions.max_password }}"
        />
      </p>
      <p>
        <label for="city">*Paikkakunta:</label><br />
        <input
          type="text"
          id="city"
          name="city"
          value="{{ filled.city }}"
          required
        />
      </p>
      <p>* pakollinen kenttä</p>
      <input type="submit" value="Luo tili" />
    </form>

    <p>Onko sinulla jo tili? <a href="/login">Kirjaudu sisään</a></p>

    <p><a href="/">Takaisin</a></p>
  </body>
</html>
