{% extends "layout.html" %} {% block title %}Poista profiilikuva{%
endblock %} {% block content %}
<section>
  <h2>Poista profiilikuva</h2>

  <form
    class="image-form"
    action="/remove/profile_image/{{ user.id }}"
    method="post"
  >
    <p>Haluatko varmasti poistaa profiilikuvasi?</p>

    {% if user.has_image %}
    <img
      src="/image/user/{{ user.id }}"
      class="profile-image-large"
      alt="Käyttäjän {{ user.username }} kuva"
    />
    {% endif %}

    <input
      type="hidden"
      name="csrf_token"
      value="{{ session.csrf_token }}"
    />
    <div class="button-bar">
      <input
        type="submit"
        class="button"
        name="continue"
        value="Jatka"
      />
      <input
        type="submit"
        class="button button-secondary"
        name="cancel"
        value="Peruuta"
      />
    </div>
  </form>
</section>

{% endblock %}
