{% extends "layout.html" %} {% block title %}Poista profiilikuva{%
endblock %} {% block content %}
<section>
  <h2>Poista ilmoituksen kuva</h2>

  <form
    class="image-form"
    action="/remove/listing_image/{{ listing.id }}"
    method="post"
  >
    <p>Haluatko varmasti poistaa kuvan ilmoituksesta?</p>
    <p class="subheading">{{ listing.name }}</p>

    {% if listing.has_image %}
    <img
      src="/image/listing/{{ listing.id }}"
      class="listing-image"
      alt="Ilmoituksen {{ listing.namename }} kuva"
    />
    {% endif %}

    <input
      type="hidden"
      name="csrf_token"
      value="{{ session.csrf_token }}"
    />
    <div class="button-bar">
      <input
        type="submit"
        class="button"
        name="continue"
        value="Jatka"
      />
      <input
        type="submit"
        class="button button-secondary"
        name="cancel"
        value="Peruuta"
      />
    </div>
  </form>
</section>

{% endblock %}
