{% extends "layout.html" %} {% block title %}Poista ilmoitus{%
endblock %} {% block content %}
<header>
  <h2>Poista ilmoitus</h2>
</header>

<form action="/remove/listing/{{ listing.id }}" method="post">
  <p>Haluatko varmasti poistaa ilmotuksen?</p>

  {% if listing.has_image %}
  <img
    src="/image/listing/{{ listing.id }}"
    class="listing-image"
    alt="Ilmoituksen {{ listing.username }} kuva"
  />
  {% endif %}

  <p>{{ listing.name }}</p>
  <input
    type="hidden"
    name="csrf_token"
    value="{{ session.csrf_token }}"
  />
  <div class="button-bar">
    <input
      type="submit"
      class="button"
      name="continue"
      value="Jatka"
    />
    <input
      type="submit"
      class="button"
      name="cancel"
      value="Peruuta"
    />
  </div>
</form>

{% endblock %}
