{% extends "layout.html" %} {% block title %}Haku{% endblock%} {%
block content %}
<section>
  <h2>Haku</h2>

  <form action="/search" method="get">
    <fieldset>
      <div class="form-grid">
        <label for="query">Hakusana</label> {% if query %}
        <input
          type="text"
          id="query"
          name="query"
          value="{{ query }}"
        />
        {% else %}
        <input type="text" id="query" name="query" />
        {% endif %}
      </div>
    </fieldset>

    <fieldset>
      <h3>Rajaa hakua</h3>
      <div class="form-grid">
        <label for="city">Sijainti</label> {% if city %}
        <input type="text" id="city" name="city" value="{{ city }}" />
        {% else %}
        <input type="text" id="city" name="city" />
        {% endif %}
      </div>
    </fieldset>
    <div class="button-bar">
      <input type="submit" class="button" value="Hae" />
    </div>
  </form>
</section>
<section>
  <h3>
    Hakutulokset {% if query or city %}({{ results | count }}){% endif
    %}
  </h3>

  {% if query and city %}
  <p class="text-small">
    Näytetään tulokset hakutekijöillä "{{ query }}", "{{ city }}"
  </p>
  {% elif query %}
  <p class="text-small">
    Näytetään tulokset hakusanalla "{{ query }}"
  </p>
  {% elif city %}
  <p class="text-small">
    Näytetään tulokset sijainnista "{{ city }}"
  </p>
  {% else %}
  <p>Syötä hakusana tai sijainti.</p>
  {% endif %} {% if results %}
  <ul>
    {% for result in results %}
    <li class="list-item">
      <div class="listing-thumbnail-container">
        {% if result.has_image %}
        <img
          class="listing-thumbnail"
          src="/image/listing/{{ result.listing_id }}"
        />
        {% else %}
        <p class="text-small">Ei kuvaa</p>
        {% endif %}
      </div>

      <div>
        <p>
          <a href="/listing/{{ result.listing_id }}"
            >{{ result.name }}</a
          >
        </p>
        <p>
          <a href="/user/{{ result.user_id }}"
            >{{ result.username }}</a
          >
          📍 {{ result.city }}
        </p>

        <p>{{ result.date }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %} {% if query or city %}
  <p class="text-no-results">Ei tuloksia</p>
  {% endif %} {% endif %}
</section>
{% endblock %}
