{% extends "layout.html" %} {% block title %}Käyttäjä {{ user.username
}}{% endblock %} {% block content %}
<header>
  <h2>Käyttäjä {{ user.username }}</h2>
</header>

{% if user.has_image %}
<img
  src="/image/user/{{ user.id }}"
  class="profile-image-large"
  alt="Käyttäjän {{ user.username }} kuva"
/>
{% else %}
<div>ei profiilikuvaa</div>
{% endif %} {% if user.id == session.user_id %}
<p><a href="/add_profile_image">Vaihda profiilikuva</a></p>
{% if user.has_image %}
<p>
  <a href="/remove/profile_image/{{ user.id }}"
    >Poista profiilikuva</a
  >
</p>
{% endif %}
<p><a href="/edit_profile/{{ user.id }}">Muokkaa profiilia</a></p>
{% endif %}

<p>{{ user.city }}</p>

<p>Liittyi {{ joined_date }}</p>
<header>
  <h3>Käyttäjän ilmoitukset ({{ listings | count }})</h3>
</header>

<ul>
  {% for listing in listings %}
  <li>
    <a href="/listing/{{ listing.id }}">{{ listing.name }}</a>
    <br />
    {{ listing.date }}
  </li>
  {% endfor %}
</ul>

{% if user.id == session.user_id %}
<p><a href="/delete_account">Poista tili</a></p>
{% endif %} {% endblock %}
