{% extends "layout.html" %} {% block title %}Käyttäjä {{ user.username
}}{% endblock %} {% block content %}
<header>
  <h2>Käyttäjä {{ user.username }}</h2>
</header>

<section>
  <div class="item-info">
    <div>
      {% if user.has_image %}
      <img
        src="/image/user/{{ user.id }}"
        class="profile-image-large"
        alt="Käyttäjän {{ user.username }} kuva"
      />
      {% else %}
      <div>ei profiilikuvaa</div>
      {% endif %} {% if user.id == session.user_id %}
      <div class="button-bar">
        <a href="/add_profile_image"
          ><button>Vaihda profiilikuva</button></a
        >

        {% if user.has_image %}

        <a href="/remove/profile_image/{{ user.id }}"
          ><button>Poista profiilikuva</button></a
        >

        {% endif %}
      </div>
      {% endif %}
    </div>
    <div>
      <p>{{ user.city }}</p>
      <p>Liittyi {{ joined_date }}</p>
    </div>
  </div>
  {% if user.id == session.user_id %}
  <div class="button-bar-vertical">
    <a href="/edit_profile/{{ user.id }}"
      ><button>Muokkaa profiilia</button></a
    >
    <a href="/delete_account"
      ><button class="delete">Poista tili</button></a
    >
  </div>
  {% endif %}
</section>
<header>
  <h3>Käyttäjän ilmoitukset ({{ listings | count }})</h3>
</header>

<section>
  <ul>
    {% for listing in listings %}
    <li class="list-item">
      <div class="listing-thumbnail-container">
        {% if listing.has_image %}
        <img
          class="listing-thumbnail"
          src="/image/listing/{{ listing.id }}"
        />
        {% else %}
        <p class="text-small">Ei kuvaa</p>
        {% endif %}
      </div>
      <div>
        <a href="/listing/{{ listing.id }}">{{ listing.name }}</a>
        <br />
        {{ listing.date }}
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
