{% extends "layout.html" %} {% block title %}Käyttäjä {{ user.username
}}{% endblock %} {% block content %}

<h2>Käyttäjä {{ user.username }}</h2>

{% if user.has_image %}
<img src="/image/user/{{ user.id }}" />
{% else %}
<div>ei profiilikuvaa</div>
{% endif %} {% if user.id == session.user_id %}
<p><a href="/add_profile_image">Aseta profiilikuva</a></p>
<p><a href="/edit_profile">Muokkaa profiilia</a></p>
<p><a href="/delete_account">Poista tili</a></p>
{% endif %}

<p>{{ user.city }}</p>

<p>Liittyi {{ user.joined }}</p>

<h3>Käyttäjän lähettämät ilmoitukset ({{ listings | count }})</h3>

<ul>
  {% for listing in listings %}
  <li>
    <a href="/listing/{{ listing.id }}">{{ listing.name }}</a>
    <br />
    {{ listing.date }}
  </li>
  {% endfor %}
</ul>

{% endblock %}
